:root {}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    background: black;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

.logo {
    width: 90px;
    height: 95px;
}

.cabecalho {
    padding: 3px;
    background-color: transparent;
}

.cabecalho-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 20px;
}

.cabecalho-menu {
    list-style: none;
    display: flex;
    font-weight: bold;
}

.cabecalho-menu li {
    margin-left: 20px;

}

.cabecalho-menu a {
    color: #fff;
    text-decoration: none;
}

.cabecalho-menu li:hover{
    transform: scale(1.05);
}
.banner {
    object-fit: cover;
    background-size: cover;
    height: 600px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    transition: background-image 1s ease-in-out;
}

.banner-overlay {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

/* pseudo elemento */
.banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;

}

.banner-conteudo {
    width: 600px;
    position: relative;
    z-index: 2;
}

.banner-titulo {
    font-size: 3em;
    margin-bottom: 20px;
}

.banner-descricao {
    font-size: 1.2em;
    margin-bottom: 30px;
}

.banner-btn {
    background: #e50914;
    padding: 10px 30px;
    border-radius: 20px;
    color: #fff;
    border: none;
    margin: 0 10px;
}

.banner-btn:hover {
    box-shadow: 5px 5px 8px black;
    transition: 0.5s;
    transform: scale(110%);
}

.sessao-filme {
    padding: 20px;
}

.sessao-titulo{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    margin-top: 20px;
    margin-bottom: 30px;
   
}

.filmes-titulo {
    font-size: 2em;
    margin-bottom: 20px;
    
}

.carrossel {
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.6);
    margin-top: -80px;
}

.carrossel img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 5px;
    box-shadow: 5px 5px 8px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease-in-out;
}

.carrossel-lista {
    display: flex;
    transition: transform 0.5s ease-in-out;

}

.carrossel-item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 400px;
    height: 400px;
    margin: 20px;
}

.carrossel-item:hover{
    transform: scale(1.05);
}
.btn-carrossel{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgb(36, 28, 28);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: none;
    color: #fff;
    font-size: 24px;
    position: absolute;
    top: 45%;
}
.btn-carrossel:hover{
    transform: scale(1.05);
}

.btn-anterior { left: 10px;}

.btn-proximo {right: 10px;}

footer {
    background: black;
    padding: 20px;
    text-align: center;
}

#perfil {
    width: 100%;
    min-height: 555px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #000;
    padding: 20px 0;
}

.perfis-container {
    width: 90%;
    max-width: 900px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.perfil-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.perfil-card:hover{
    transform: scale(1.05);
}

.perfil-card h3 {
    color: #fff;
    font-size: 20px;
    margin-top: 10px;
}

.perfil-img {
    width: 120px;
    height: 120px;
    border: 2px solid rgb(104, 29, 29);
    border-radius: 100%;
    object-fit: cover;
}

.perfil-img-link {
    display: block;
    width: 120px;
    height: 120px;
    overflow: hidden;
    border-radius: 50%
}

/* Conteúdo */
/* ## Seções de Conteúdo */
#titulo {
    background: #1A1D1F;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    font-size: 30px;
    /* Compensa a altura do cabeçalho fixo */
}

#titulo img {
    width: 400px;
    height: 300px;
    margin-top: -45px;
}

.playlists{
    margin: 40px 70px 80px 80px;
    display: grid;
    grid-template-columns:repeat(3, 1fr);
    gap:100px;
    justify-content: center;
    flex-wrap: wrap;

}

.banner-playlist{
    background-color: #1A1D1F;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
    width:200px;
}

.banner-playlist img{
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.titulo-playlist{
    padding: 10px;
    font-weight: bold;
    text-align: center;
}

.banner-playlist:hover{
    transform: scale(1.05);
}

#historia {
    width: 100%;
    min-height: 600px;
    /* Use min-height para seções com conteúdo 
variável */
    background: #000000;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    /* Adiciona espaçamento interno */
}

#texto-historia h1 {
    color: rgb(255, 0, 0);
    font-size: 50px;
    text-align: center;
    justify-content: center;
    margin-top: 50px auto 0 auto;
    display: block;
    text-decoration: underline;
}

#texto-historia p {
    font-size: 17px;
    color: #1A1D1F;
    /* Texto escuro para contraste */
}

#imagens-historia {
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.historia-personagem {
    width: 100%;
    min-height: 555px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #131111;
    padding: 20px 0;
}


#titulo-Escute{
    color: rgb(255, 0, 0);
    font-size: 50px;
    margin-bottom: 360px;
    margin-left: -600px;
    font-family: 'Courier New', Courier, monospace;
    text-decoration: underline #2b0f11;
}

.historia-personagem h1 {
    color: rgb(245, 102, 7);
    font-size: 70px;
    margin-top: -200px;
    font-family: 'Courier New', Courier, monospace;
}

.historia-personagem h3 {
    color: #a39595;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
    font-size: 40px;
}

.historia-personagem img {
    width: 320px;
    height: 320px;
    border-radius: 4px;
    border-color: #e50914;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
}

.imagem-personagem1 {
    width: 340px;
    height: 340px;
    border-radius: 4px;
    border: 10px solid #771111; /* Ajuste a cor da borda */
    /* Ajuste a cor da borda */
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    position: relative;
}
.imagem-personagem1:hover{
    transform: scale(1.05);

}

.titulo-artista{
    color: white;
    text-decoration: none;
    text-align: center;
     padding: 10px;
    font-weight: bold;
    text-align: center;
}
